[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

selenium = "*"
sqlalchemy = "*"
python-dateutil = "*"
flask = "*"
flask-sqlalchemy = "*"


[dev-packages]

